<%- include('partials/header.ejs'); %>

<form method="post" action="/login" id="loginform">

    <div>
        <input name="user" class="form-control" placeholder="Usuario">
    </div>
    <div>
        <input name="pass" type="password" class="form-control" placeholder="Contraseña">
    </div>

    <button class="btn btn-secondary">Ingresar</button>


</form>

<%- include('partials/foot.ejs'); %>
